.syllabus_wrap{ width: 100%; min-height: 600px; display: flex; flex-direction: column;}
.syllabus_title{position: relative; display: flex; margin: 0 20px; border-bottom: 2px solid #2a2a2a;}
.syllabus_title2{position: relative; display: flex; margin: 50px 20px 0; border-bottom: 2px solid #2a2a2a;}
.syllabus_title3{position: relative; display: flex; margin: 50px 20px 0;}
.syllabus_title p, .syllabus_title2 p, .syllabus_title3 p{font-size: 1.4rem; font-weight: 600; height: 60px; line-height: 60px; padding: 0 15px; position: relative;}
.syllabus_title p::before, .syllabus_title2 p::before, .syllabus_title3 p::before{content: '';position: absolute;top: calc(50% - 15px);left: 0;width: 0; height: 50%; border-left: 3px solid #2F3135;}

.syllabus_table{margin: 0 auto;}
.syllabus_table table{border: 1px solid #c2c2c2; min-width: 1400px; margin: 0 20px; text-align: center;}
.syllabus_table th{width: 140px; padding: 0 40px; height: 40px; line-height: 40px; font-size: 1.2rem; background: #149000; color: #fff; border: 1px solid #149000;}
.syllabus_table td{height: 40px; line-height: 40px; font-size: 1rem; padding: 0 20px; background: #f8f8f8; border-bottom: 1px solid #c2c2c2; max-width: 240px;}

.syllabus_table2{margin: 20px auto 0;}
.syllabus_table2 table{min-width: 1400px; margin: 0 20px; text-align: center; border-bottom: 1px solid #2a2a2a; border-top: 1px solid #c2c2c2; }
.syllabus_table2 th{width: 140px; padding: 0 40px; height: 40px; line-height: 40px; font-size: 1.2rem; background: #149000; color: #fff; border-bottom: 1px solid #c2c2c2;}
.syllabus_table2 td{height: 40px; line-height: 40px; font-size: 1rem; padding: 0 20px; background: #f8f8f8; max-width: 240px; border-bottom: 1px solid #c2c2c2;}

.lectoer_plan_table3{margin: 20px auto 0;}
.lectoer_plan_table3 table{min-width: 1400px; margin: 0 20px; text-align: center; border-bottom: 1px solid #2a2a2a; border-top: 1px solid #c2c2c2; }
.lectoer_plan_table3 th{width: 140px; padding: 0 40px 0 20px; height: 40px; line-height: 40px; font-size: 1.2rem; background: #149000; color: #fff; border-bottom: 1px solid #c2c2c2; text-align: left;}
.lectoer_plan_table3 td{height: 40px; line-height: 40px; font-size: 1rem; padding: 0 20px; background: #f8f8f8; max-width: 240px; border-bottom: 1px solid #c2c2c2; text-align: left;}

.assignmentadd_textarea1 textarea{height: 80px; width: 1400px; border: 1px solid #a1a1a1; border-radius: 4px; margin: 50px 20px 0; font-size: 1.1rem;}
.assignmentadd_textarea2 textarea{height: 480px; width: 1400px; border: 1px solid #a1a1a1; border-radius: 4px; margin: 10px 20px 0; font-size: 1.1rem;}
.assignmentadd_btn_wrap{ display: flex; margin: 20px; justify-content: flex-end;}
.assignmentadd_btn_wrap input{width: 300px;}
.assignmentadd_submit{display: flex; justify-content: flex-end; margin: 10px 20px 20px;}

.assignmentview_file{display: flex; flex-direction: column; margin: 20px 20px 0;}
.assignmentview_file p{line-height: 50px;}
.assignmentview_file input{height: 30px; font-size: 1rem; padding: 0 6px;}

button{width: 90px; height: 30px; background: #fff; font-size: 0.95rem; color:#2a2a2a; border: 1px solid #c2c2c2; border-radius: 3px; box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.2); cursor: pointer; margin: 0 0 0 8px;}

