/* common */
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* logo */
@font-face {
    font-family: 'KCC-Ganpan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0px 1000px #2a2a2a inset;
    box-shadow: 0 0 0px 1000px #2a2a2a inset;
    transition: background-color 5000s ease-in-out 0s;
}

input:focus,textarea:focus,select:focus{outline:none; border:none;}
a,a:active,a:visited,a:hover{text-decoration: none;}
body{ font-family: 'SUIT-Regular'; height: 100vh; overflow: hidden;}
input[type="checkbox"]:hover{cursor: pointer;}
h2,h3,p {text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}


.header_wrap{display: flex; justify-content: space-between; padding: 10px 20px; border-bottom: 1px solid #d8d8d8;}
.header_left img{width: 192px; filter: hue-rotate(265deg);}
.header_right{display: flex; align-items: center;}
.header_center{width: 0; height: 0;}
.header_userinfo{display: flex; align-items: center; position: relative;}
.header_dropdown{text-align: center; margin: 4px 10px 0 0;}
.header_dropdown button{background: none; border: none;}
.header_dropdown img{background: none; padding: 6px 3px; border:1px solid #d8d8d8; border-radius: 6px; width: 10px;}
.div_dropdown{position: absolute; box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); width: 160px;  top: 24px; left: -17px; background: #fff; z-index: 2;}
.div_dropdown p{height: 60px; line-height: 60px; padding: 0 20px;}
.div_dropdown p:hover{background-color:#e1f5fe; filter:hue-rotate(275deg); color:#039be5;}
.div_dropdown a{color: #2a2a2a;}
.header_time{display: flex; align-items: center;}
.header_time img{width: 12px;}
.header_time li:first-child{margin: 0 12px 0 0;}
.header_time button{border: 1px solid #d8d8d8; background: none; border-radius: 3px; line-height: 25px; height: 25px;}
/*-----------  헤더 끝  ---------*/

/*-----------  바디 시작  ---------*/
.active{display: none;}
.wrap{position: relative; display: flex; height: 100%}
.main_contents_left{position: relative; max-width: 270px; min-width: 250px; border-right: 1px solid #dcdcdc;}
.main_contents_right{padding: 10px; background: #f1f8e9; width: calc(100% - 250px);}
.search_bx{padding: 10px; display: flex; background: #f4f4f4;  border-bottom: 1px solid #dcdcdc;}
.search_bx input{height: 32px; border: 1px solid #d6d9dc; border-radius: 4px; background: #fff; font-size: 0.9rem; padding: 0 0 0 6px; letter-spacing: -1.4px;}
.search_bx button{width: 40px; background: #fff; border: 1px solid #d8d8d8; text-align: center; font-size: 1.3rem; border-radius: 5px; margin: 0 0 0 4px;}
.menu_tree{overflow-y: scroll; overflow-x: clip; padding: 14px 0 0 0; height: calc(100% - 190px);}
.menu_tree td:hover{ background: #e8f5e9;}
.menu_tree td:hover p span{ color:#4caf50; font-weight: 600;}
.menu_tree::-webkit-scrollbar {width: 6px;}
.menu_tree::-webkit-scrollbar-thumb {border-radius: 50px; background-color: #646464;}
.menu_tree::-webkit-scrollbar-track {background-color: #FFF; border-radius: 50px; margin: 4px 0;}
.menu_tree td{ width: 243px;}
.menu_tree p{color: #444; padding: 4px 18px; line-height: 12px;}
.menu_btn{ display: table; margin: 0 auto;}
.menu_btn button{width: 230px; height: 36px; background: #388e3c; border: 2px solid #388e3c; color: #fff; border-radius: 5px; font-size: 0.9rem; text-align: left; padding: 0 13px;}
.text-indent{text-indent: 18px;}

