.qna_wrap{ width: 100%; min-height: 600px; display: flex; flex-direction: column;}
.qna_title{position: relative; display: flex; margin: 0 20px; justify-content: space-between; align-items: center;}

.qna_title p{font-size: 1.4rem; font-weight: 600; height: 60px; line-height: 60px; padding: 0 15px; position: relative;}
.qna_title p::before{content: '';position: absolute;top: calc(50% - 15px);left: 0;width: 0; height: 50%; border-left: 3px solid #2F3135;}

.qna_table{margin: 0 auto;}
.qna_table table{border: 1px solid #c2c2c2; min-width: 1400px; margin: 0 20px; text-align: center;}
.qna_table th{width: 140px; padding: 0 40px; height: 40px; line-height: 40px; font-size: 1.2rem; background: #149000; color: #fff; border: 1px solid #149000;}
.qna_table td{height: 40px; line-height: 40px; font-size: 1rem; padding: 0 20px; background: #f8f8f8; border-bottom: 1px solid #c2c2c2; max-width: 240px;}
.w600{width: 600px; text-align: left; padding: 0 !important;}

.qna_paging{}
.qna_paging ul{display: flex; justify-content: center; width: 100%;}
.qna_paging li{margin: 0 6px; display: inline-block;}
.qna_write{margin: 0 20px; float: right;}
.qna_write button{width: 90px; height: 30px; background: #fff; font-size: 0.95rem; color:#2a2a2a; border: 1px solid #c2c2c2; border-radius: 3px; box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.2); cursor: pointer;}

/* 선택된 페이지 색깔 */
#page{color:#149000;}