body::-webkit-scrollbar {display: none;}
body{overflow-y: scroll !important;}
table td label{display: table-cell; width: 200px; text-align: left; padding: 12px;}

.select_table_1{background: #fff; border: 1px solid #d2d5d6; border-radius: 4px; padding: 20px;}
.select_table_2{background: #fff; border: 1px solid #d2d5d6; border-radius: 4px; padding: 20px;}
.select_table_3{background: #fff; border: 1px solid #d2d5d6; border-radius: 4px; padding: 20px;}


/*  셀렉트 박스 CSS  */
.select_box { position: relative; width: 250px; height: 35px; border-radius: 3px; border: 1px solid #d6d9dc; background: #fff;}
.select_box .select { width: inherit; height: inherit; background: transparent; border: 0 none; outline: 0 none; padding: 0 5px; position: relative; z-index: 3; appearance: none;}
.select_box .select:focus{border: 1px solid #4caf50;}
.select_box .select option { background: #fff; color: #222; padding: 3px 0; font-size: 16px;}
.select_box .icoArrow { position: absolute; top: 0; right: 0; z-index: 1; width: 35px; height: inherit; display: flex; justify-content: center; align-items: center;}

/*  버튼 CSS  */
.div_common_button{width: 100%; display: flex; justify-content: flex-end; margin: 0 0 4px 0;}
.div_common_button button{margin: 0 4px 0 0;}
.btn_pos:hover{cursor: pointer;}
.btn-default:hover{cursor: pointer;}
.btn_pos { background-color: #6B6B6B; border: 1px solid #6B6B6B; color: #fff; padding: 0px 10px; height: 30px; border-radius: 3px;}
.btn-default { padding: 0px 10px; color: #6b6b6b; border: 1px solid #6b6b6b; background-color: #fff; height: 30px; border-radius: 3px;}

/*  텍스트 박스 CSS  */
.text_box input{position: relative; width: 226px; height: 35px; border-radius: 3px; border:1px solid #d6d9dc; background: #fff; padding: 0 12px;}
.text_box input:focus{outline:none; border: 1px solid #4caf50;}

/*  라디오 버튼 CSS  */
.radio_box{position: relative; display: flex; align-items: center; width: 252px;}
.radio_box label{width: 30px;}
.radio_box input[type="radio"]{ width: 20px; height: 20px;}
.radio_box input:focus-visible{outline: #222;}

/*  타이틀 1 CSS  */
.div_title_1{position: relative; padding: 20px 0 4px 0; display: flex;}
.div_title_1 p{font-size: 1rem; line-height: 26px; height: 26px; color: #6B6B6B;}
.div_title_1 p span{font-weight: 600; color: #444;}
.div_title_1 img{width: 16px;}

/*  타이틀 2 CSS  */
.div_title_2{position: relative; padding: 20px 0 4px 0; display: flex;}
.div_title_2 p{font-size: 1rem; line-height: 26px; height: 26px; color: #6B6B6B;}
.div_title_2 p span{font-weight: 600; color: #444;}
.div_title_2 img{width: 16px;}
.div_title_2 input{border: 1px solid #fff; margin: 0 10px; width: 220px; border-radius: 5px; padding: 0 12px;}
.div_title_2 input:focus{border: 1px solid #4caf50;}
.div_title_2 button{border: 1px solid #d6d9dc; background: #fff; font-size: 0.9rem; border-radius: 5px; color: #222; position: relative; z-index: 1;}
.div_title_2 button::before{content: '';position: absolute; top: 0; left: 0; width: 0%; height: 100%; background: #4caf50; transition: all 0.3s; z-index: -1; border-radius: 4px;}
.div_title_2 button:hover::before{width: 100%;}
.div_title_2 button:hover{color:#fff; cursor: pointer;}

/*  출력 테이블 구조 1  */
.select_view_table_1{overflow: scroll; height: 300px;}
.select_view_table_1 table{border:1px solid #aaa; width: 100%;}
.select_view_table_1 .view_title{width: 100%; min-width: 100px; text-align: center; padding: 12px 0; background: #efefef; border: 0.5px solid #d2d5d6;}
.select_view_table_1 .view_content{width: 100%; min-width: 100px; text-align: center; padding: 12px 0; background: #fefefe; border:0.5px solid #dcdcdc;}
.select_view_table_1::-webkit-scrollbar {width: 6px; height: 6px;}
.select_view_table_1::-webkit-scrollbar-thumb {border-radius: 50px; background-color: #646464;}
.select_view_table_1::-webkit-scrollbar-track {background-color: #FFF; border-radius: 50px; margin: 4px 0;}

/*  아이프레임 엔드 여백  */
.page_end_point{padding: 0px 0;}