.myinfo_wrap{ width: 100%; min-height: 600px; border: 1px solid #2F3135; border-radius: 5px; display: flex; flex-direction: column;}
.myinfo_title{position: relative; display: flex; border-bottom: 1px solid #2F3135; margin: 0 20px;}
.myinfo_title p{font-size: 1.4rem; font-weight: 600; height: 60px; line-height: 60px; padding: 0 15px; position: relative;}
.myinfo_title p::before{content: '';position: absolute;top: calc(50% - 15px);left: 0;width: 0; height: 50%; border-left: 3px solid #2F3135;}

.myinfo_info{display: flex; justify-content: center; min-height: 600px; align-items: center;}
.myinfo_img{display: flex; flex-direction: column; margin: 0 40px 0 0;}
.myinfo_img img{width: 322px;}
.myinfo_img>div{margin: 12px auto 0;}
.myinfo_img button{ background: #fefefe; border: 1px solid #646464; border-radius: 3px; height: 26px; font-size:0.8rem; width: 80px; cursor: pointer;}

.myinfo_table{}
.myinfo_table th{font-size: 1.2rem; line-height: 56px; height: 56px; width: 100px; background: #e8efe5; border: 1px solid #c9dbc2;}
.myinfo_table td{height: 60px; background: #fff; min-width: 600px; border: 1px solid #c9dbc2; display: flex; align-items: center; justify-content: center;}
.myinfo_table input{width: 96%; height: 80%; font-size: 1.2rem; padding: 0 20px; color: #2F3135;}

.myinfo_modify{display: flex; justify-content: center;}
.myinfo_modify button{margin: 0 0 70px 0; width: 100px; height: 40px; font-size: 1.1rem; border-radius: 9px; background: #dbebd4; border: none; cursor: pointer; position: relative; z-index: 1; color: #444444;}
.myinfo_modify button::before{content: '';position: absolute;top: 0;left: 0;width: 0;height: 100%; background: #4caf50; transition: all 0.2s; z-index: -1; border-radius: 10px;}
.myinfo_modify button:hover::before{width: 100%;}
.myinfo_modify button:hover{color: #fefefe;}


