.myclass_wrap{ width: 100%; min-height: 600px; display: flex; flex-direction: column;}
.myclass_title{position: relative; display: flex; margin: 0 20px;}
.myclass_title p{font-size: 1.4rem; font-weight: 600; height: 60px; line-height: 60px; padding: 0 15px; position: relative;}
.myclass_title p::before{content: '';position: absolute;top: calc(50% - 15px);left: 0;width: 0; height: 50%; border-left: 3px solid #2F3135;}

.myclass_contents{position: relative; display: flex; justify-content: space-evenly; width: 1400px; border-bottom: 1px solid #2a2a2a; border-top: 2px solid #2a2a2a; margin: 0 20px;}
.myclass_contents .myclass_contents_1{display: flex; margin: 12px 0; align-items: center;}
.myclass_contents .myclass_contents_1 p{font-size: 1.2rem; padding: 0 40px;}
.myclass_contents .myclass_contents_1 input{width: 400px; height: 40px; background: #fff; border: 1px solid #a1a1a1; border-radius: 10px; font-size: 1.2rem; padding: 0 20px; color:#222;}

.myclass_enroll{position: relative; display: flex; margin: 0 20px; flex-direction: column;}
.myclass_enroll_contents{display: flex; flex-direction: column; border-bottom: 1px solid #2a2a2a;}
.myclass_enroll_contents a{font-size: 1.1rem; height: 50px; line-height: 50px; font-weight: 600; display: inline-block;}
.myclass_enroll_btn{display: flex; justify-content: space-evenly; width: 1000px; background: #dbebd4; display: none;}
.myclass_enroll_btn button{width: 200px; margin: 5px 0; background: #ffffff; height: 40px; font-size: 1.2rem; border-radius: 3px; border: 1px solid #6B6B6B; cursor: pointer; position: relative; z-index: 1;}
.myclass_enroll_btn button::before{content: '';position: absolute;width: 0;height: 100%; top: 0; left: 0; background: #4caf50; transition: all 0.2s; z-index: -1; border-radius: 1px;}
.myclass_enroll_btn button:hover::before{width: 100%;}
.myclass_enroll_btn button:hover{color:#f2f2f2;}

.margin_top50{margin-top: 50px;}
.border_bottom2{border-bottom: 2px solid #2a2a2a;}
.show{display: flex;}