.syllabus_wrap{ width: 100%; min-height: 600px; display: flex; flex-direction: column;}
.syllabus_title{position: relative; display: flex; margin: 0 20px; border-bottom: 2px solid #2a2a2a;}
.syllabus_title2{position: relative; display: flex; margin: 50px 20px 0;}
.syllabus_title3{position: relative; display: flex; margin: 50px 20px 0;}
.syllabus_title p, .syllabus_title2 p, .syllabus_title3 p{font-size: 1.4rem; font-weight: 600; height: 60px; line-height: 60px; padding: 0 15px; position: relative;}
.syllabus_title p::before, .syllabus_title2 p::before, .syllabus_title3 p::before{content: '';position: absolute;top: calc(50% - 15px);left: 0;width: 0; height: 50%; border-left: 3px solid #2F3135;}

.syllabus_contents{position: relative; display: flex; justify-content: space-evenly; width: 1400px; border-bottom: 1px solid #2a2a2a; margin: 0 20px; flex-wrap: wrap;}
.syllabus_contents .syllabus_contents_1{display: flex; margin: 12px 0; align-items: center;}
.syllabus_contents .syllabus_contents_1 p{font-size: 1.2rem; padding: 0 40px; width: 60px;}
.syllabus_contents .syllabus_contents_1 input{width: 400px; height: 40px; background: #e8e8e8; border: 1px solid #a1a1a1; border-radius: 10px; font-size: 1.2rem; padding: 0 20px; color:#a1a1a1;}

.syllabus_table{margin: 0 auto;}
.syllabus_table table{border: 1px solid #c2c2c2; min-width: 1400px; margin: 0 20px; text-align: center;}
.syllabus_table th{width: 140px; padding: 0 40px; height: 40px; line-height: 40px; font-size: 1.2rem; background: #149000; color: #fff; border: 1px solid #149000;}
.syllabus_table td{height: 40px; line-height: 40px; font-size: 1rem; padding: 0 20px; background: #f8f8f8; border-bottom: 1px solid #c2c2c2; max-width: 240px;}

.syllabus_table2{margin: 20px auto 0;}
.syllabus_table2 table{min-width: 1400px; margin: 0 20px; text-align: center; border-bottom: 1px solid #2a2a2a; border-top: 1px solid #c2c2c2; }
.syllabus_table2 th{width: 140px; padding: 0 40px; height: 40px; line-height: 40px; font-size: 1.2rem; background: #149000; color: #fff; border-bottom: 1px solid #c2c2c2;}
.syllabus_table2 td{height: 40px; line-height: 40px; font-size: 1rem; padding: 0 20px; background: #f8f8f8; max-width: 240px; border-bottom: 1px solid #c2c2c2;}

