/* 폰트 설정 */
*,p,a,h2,h3{font-family: 'SUIT-Regular'; font-weight: 300; color: #2a2a2a;}

/* 헤더 설정 */
.header_wrap{display: flex; justify-content: space-between; padding: 0px 20px; border-bottom: 1px solid #d8d8d8;}
.header_left img{height: 74px;}
.header_center{width: 0; height: 0;}
.header_right{display: flex; align-items: center;}
.header_menu { display: flex; margin: 0 12px 0 0; position: relative;}
.header_menu p:hover{color: #149000; font-weight: 600; cursor: pointer;}
.header_menu>li{margin: 0 56px 0 0; position: relative;}
.header_childmenu{display: none; position: absolute; bottom: -70px; background: #e6f2e2; border-radius: 20px; z-index: 20; left: -197px;}
.header_submenu_show{display: flex !important;}
.header_childmenu li{width: 150px; height: 30px; line-height: 30px; text-align: center; position: relative;}
.header_childmenu li a:hover{color: #388e3c;}
.header_childmenu li::before{content:'';position: absolute; top:calc(50% - 8px); height: 16px; border-left:1px solid #868686; left: 0;}
.header_childmenu li:first-child::before{display: none;}
.header_info{display: flex; align-items: center;}
.header_info_left{display: flex; align-items: center; margin: 0 56px 0 0;}
.header_info_right{}
.user_img{ border: 2px solid #2a2a2a; border-radius: 102px; width: 20px; height: 20px; text-align: center; line-height: 25px; font-size: 1.2rem; color: #2a2a2a; overflow: hidden; margin: 0 6px 0 0;}
.header_logout_btn{width: 90px; height: 26px; border-radius: 15px; background: #fff; border: 1px solid #2a2a2a; box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.2); cursor: pointer;}
#menu_item_2 .header_childmenu{left: -120px;}

/* body 설정*/
body{width: 100%;}
.body_wrap{max-width: 1440px; margin: 50px auto;}